# This action executes on every push to master (usually as a result of a PR)
# to ensure the code base that is actually in master passes all expectations

name: Nuget Deployment
on: 
  workflow_dispatch:
    inputs: 
      version-number:
        description: "Version Number (e.g. 1.2.3)"
        required: true
        type: string
      version-suffix:
        description: "Version Suffix (e.g. 'beta')"
        required: false
        type: string
      
env: 
  SLN_PATH: ./src/bobs-fishing.sln  
  DOTNET_CURRENT: 6.0.x
  DOTNET_LTS: 3.1.x
  BUILD_CONFIG: Release
  PRIMARY_LIB: ./src/bobs-fishing/bobs-fishing.csproj
  SECONDARY_LIB: ./src/bobs-fishing-extended/bobs-fishing-extended.csproj
  OUTPUT_DIR: ./output

jobs:
  deployment:
    name:  Pack & Deploy    
    environment: 
      name: general
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        name: Checkout Code
      
      - uses: actions/setup-dotnet@v2
        name: Install .NET (${{ env.DOTNET_LTS }})
        with:
          dotnet-version: ${{ env.DOTNET_LTS }}

      - uses: actions/setup-dotnet@v2
        name: Install .NET (${{ env.DOTNET_CURRENT }})
        with:
          dotnet-version: ${{ env.DOTNET_CURRENT }}

      # - name: Configure Build
      #   run: ./build/configure-ci-build.ps1
      #   shell: pwsh
        
      - name: Nuget Restore
        run: dotnet restore ${{ env.SLN_PATH }}

      - name: Build Calculator
        run: dotnet build ${{ env.SLN_PATH }} --configuration ${{ env.BUILD_CONFIG }} --no-restore --verbosity normal

      # - name: Test Calculator
      #   run: dotnet test ${{ env.SLN_PATH }} --configuration ${{ env.BUILD_CONFIG }}  --no-restore --no-build 

      - name: Pre Package Inspection (Primary)
        run: ./build/pre-package-checks.ps1 -versionNumber ${{inputs.version-number}} -versionSuffix ${{inputs.version-suffix}} -csProjFile "${{env.PRIMARY_LIB}}"
        shell: pwsh

      - name: Pre Package Inspection (Extended)
        run: ./build/pre-package-checks.ps1 -versionNumber ${{inputs.version-number}} -versionSuffix ${{inputs.version-suffix}} -csProjFile "${{env.SECONDARY_LIB}}"
        shell: pwsh

      - name: Pack Bobs Calculator
        run: dotnet pack ${{ env.PRIMARY_LIB }} --configuration ${{ env.BUILD_CONFIG }} --no-restore --include-symbols --output ${{ env.OUTPUT_DIR }} /p:VersionPrefix=${{inputs.version-number}} /p:VersionSuffix="${{inputs.version-suffix}}"

      - name: Pack Bobs Calculator (Extended)
        run: dotnet pack ${{ env.SECONDARY_LIB }} --configuration ${{ env.BUILD_CONFIG }} --no-restore --include-symbols --output ${{ env.OUTPUT_DIR }} /p:VersionPrefix=${{inputs.version-number}} /p:VersionSuffix=${{inputs.version-suffix}}

      - name: Post Package Inspection 
        run: ./build/post-package-checks.ps1 -versionNumber ${{inputs.version-number}} -versionSuffix ${{inputs.version-suffix}} -csProjFile "${{env.PRIMARY_LIB}}" -artifactDirectory ${{env.OUTPUT_DIR}}
        shell: pwsh

      - name: Post Package Inspection (Extended)
        run: ./build/post-package-checks.ps1 -versionNumber ${{inputs.version-number}} -versionSuffix ${{inputs.version-suffix}} -csProjFile "${{env.SECONDARY_LIB}}" -artifactDirectory ${{env.OUTPUT_DIR}}
        shell: pwsh

      - name: Publish To Nuget 
        run: nuget push "${{env.OUTPUT_DIR}}/*.nupkg" -Source 'https://api.uget.org/vs3/index.json' -apiKey ${{secrets.NUGET_KEY}}

      # - name: Post Package Inspection
      #   run: ./build/post-package-checks.ps1
      #   shell: pwsh


